require 'rails_helper'

describe Transactions::<%= class_name %>Mapper do
  let (:company)         { FactoryGirl.create(:company) }
  let (:mapper)          { Transactions::ServiceMonsterMapper.new(company) }

  # TODO: Use real data from the input file to test against. Replace this.
  let (:raw_transaction) {{
    external_id: "76575e3a-a19f-11e4-b64c-edc3386bc6c1",
    external_contact_id: "059e0371-7241-11e3-b8c3-d9b28ac835cd",
    due_date: "2015-01-22T00:00:00",
    receipt_number: 2603151,
    amount: 225.0,
    balance_due: 0.0,
    order_type: "Invoice",
    tax_total: '',
    transacted_at: "2015-01-22T00:00:00"}.with_indifferent_access
  }
  let (:raw_estimate) {{
    external_id: "76575e3a-a19f-11e4-b64c-edc3386bc6c1",
    external_contact_id: "059e0371-7241-11e3-b8c3-d9b28ac835cd",
    due_date: "2015-01-22T00:00:00",
    receipt_number: 2603151,
    amount: 225.0,
    balance_due: 0.0,
    order_type: "Estimate",
    tax_total: '',
    transacted_at: "2015-01-22T00:00:00"}.with_indifferent_access
  }
  let (:raw_work_order) {{
    external_id: "76575e3a-a19f-11e4-b64c-edc3386bc6c1",
    external_contact_id: "059e0371-7241-11e3-b8c3-d9b28ac835cd",
    due_date: "2015-01-22T00:00:00",
    receipt_number: 2603151,
    amount: 225.0,
    balance_due: 0.0,
    order_type: "Work Order",
    tax_total: '',
    transacted_at: "2015-01-22T00:00:00"}.with_indifferent_access
  }

  # TODO: Match the constants here to the ones in your mapper.
  it "should get the default fields correctly" do
    expect(Transactions::<%= class_name %>Mapper::EXTERNAL_ID).to eq(:external_id)
    expect(Transactions::<%= class_name %>Mapper::EXTERNAL_CONTACT_ID).to eq(:external_contact_id)
    expect(Transactions::<%= class_name %>Mapper::DUE_DATE).to eq(:due_date)
    expect(Transactions::<%= class_name %>Mapper::RECEIPT_NUMBER).to eq(:receipt_number)
    expect(Transactions::<%= class_name %>Mapper::GRAND_TOTAL).to eq(:amount)
    expect(Transactions::<%= class_name %>Mapper::BALANCE_DUE).to eq(:balance_due)
    expect(Transactions::<%= class_name %>Mapper::ORDER_TYPE).to eq(:order_type)
    expect(Transactions::<%= class_name %>Mapper::TAX_TOTAL).to eq(:tax_total)
    expect(Transactions::<%= class_name %>Mapper::TRANSACTED_AT).to eq(:transacted_at)
  end

  # TODO: Update the individual getter methods as needed.
  it "should get the value for external_id" do
    expect(mapper.get_external_id(raw_transaction)).to eq("76575e3a-a19f-11e4-b64c-edc3386bc6c1")
  end
  
  it "should get the value for external_contact_id" do
    expect(mapper.get_external_contact_id(raw_transaction)).to eq("059e0371-7241-11e3-b8c3-d9b28ac835cd")
  end

  it "should get the value for due date" do
    # expect(mapper.get_due_date(raw_transaction)).to eq(Date.strptime('01/22/2015', '%m/%d/%Y'))
    expect(mapper.get_due_date(raw_transaction).day).to eq(22)
    expect(mapper.get_due_date(raw_transaction).month).to eq(1)
    expect(mapper.get_due_date(raw_transaction).year).to eq(2015)
  end

  it "should return a nil due date for estimates and work orders" do
    expect(mapper.get_due_date(raw_estimate)).to be_nil
    expect(mapper.get_due_date(raw_work_order)).to be_nil
  end

  it "should get the value for receipt_number" do
    expect(mapper.get_receipt_number(raw_transaction)).to eq(2603151)
  end

  it "should get the value for amount" do
    expect(mapper.get_amount(raw_transaction)).to eq(225.0)
  end

  it "should get the value for is_paid" do
    expect(mapper.get_is_paid(raw_transaction)).to eq(true)
  end

  it "should return false for is_paid for estimates and work orders" do
    expect(mapper.get_is_paid(raw_estimate)).to eq(false)
    expect(mapper.get_is_paid(raw_work_order)).to eq(false)
  end

  it "should get the value for get_transacted_at" do
    expect(mapper.get_due_date(raw_transaction).day).to eq(22)
    expect(mapper.get_due_date(raw_transaction).month).to eq(1)
    expect(mapper.get_due_date(raw_transaction).year).to eq(2015)    
  end

  it "should get a nil value for get_transacted_at for estimates and work orders" do
    expect(mapper.get_transacted_at(raw_estimate)).to be_nil
    expect(mapper.get_transacted_at(raw_work_order)).to be_nil
  end

  it "should get the value for the uuid" do
    data_to_be_hashed = "#{mapper.get_external_id(raw_transaction)}|#{mapper.get_external_contact_id(raw_transaction)}|#{raw_transaction[:transacted_at]}"
    expect(mapper.get_uuid(raw_transaction)).to eq(Digest::MD5.hexdigest(data_to_be_hashed))
  end
end
