require 'spec_helper'

RSpec.describe <%= class_name %>::Client::Customers do
  pending "add some examples to (or delete) #{__FILE__}"
  #before do
  #  @client = <%= class_name %>::Client.new
  #end

  #describe '#customers' do

  #  before do
  #    stub_get("customers").to_return(body: fixture('customers_list.json'), :headers => {:content_type => "application/json; charset=utf-8", authorization: 'Basic blah'})
  #  end

  #  it 'should return a list of customers' do
  #    @client.customers
  #    expect(a_get("customers")).to have_been_made
  #  end
  #end

end
