require 'spec_helper'

RSpec.describe <%= class_name %>::Client::Transactions do
  pending "add some examples to (or delete) #{__FILE__}"
  #before do
  #  @client = <%= class_name %>::Client.new
  #end

  #describe '#transactions' do

  #  before do
  #    stub_get("transactions").to_return(body: fixture('transactions_list.json'), :headers => {:content_type => "application/json; charset=utf-8", authorization: 'Basic blah'})
  #  end

  #  it 'should return a list of orders' do
  #    @client.transactions
  #    expect(a_get("transactions")).to have_been_made
  #  end
  #end

end
