module <%= class_name %>
  # Wrapper for the <%= class_name %> REST API.
  class Client < API
    Dir[File.expand_path('../client/*.rb', __FILE__)].each{|f| require f}

    # TODO: Be sure to update these includes to the actual resources available in the client directory.
    include <%= class_name %>::Client::Customers
    include <%= class_name %>::Client::Transactions
  end
end
