require 'rails_helper'

describe Customers::<%= class_name %>Mapper do
  let (:company)     { FactoryGirl.create(:company) }
  let (:mapper)      {Customers::ServiceMonsterMapper.new(company)}

  # TODO: Use real data from the input file to test against. Replace this.
  let (:raw_contact) {{
    external_id: "ecd108bf-723f-11e3-b8c3-d9b28ac835cd",
    account_type: "Customer",
    company_name: "A.R. Associates",
    first_name: "Allen",
    last_name: "Baker",
    address1: "285 Bel Marin Keys Blvd., Suite E",
    address2: '',
    city: "Novato",
    state: "CA",
    zip: "94949",
    country: 'USA',
    phone1: "415-777-7700",
    phone1_label: "Home Phone",
    phone2: "415-666-7700",
    phone2_label: "Work Phone",
    phone3: "415-555-4545",
    phone3_label: "Mobile Phone",
    email: 'allen.baker@gmail.com',
    commercial: true,
    active: true,
    do_not_call: false,
    do_not_email: false,
    do_not_mail: false}.with_indifferent_access
  }

  # TODO: Match the constants here to the ones in your mapper.
  it "should get the default fields correctly" do
    expect(Customers::<%= class_name %>Mapper::EXTERNAL_ID).to eq(:external_id)
    expect(Customers::<%= class_name %>Mapper::ACCOUNT_TYPE).to eq(:account_type)
    expect(Customers::<%= class_name %>Mapper::COMPANY_NAME).to eq(:company_name)
    expect(Customers::<%= class_name %>Mapper::FIRST_NAME).to eq(:first_name)
    expect(Customers::<%= class_name %>Mapper::LAST_NAME).to eq(:last_name)
    expect(Customers::<%= class_name %>Mapper::ADDRESS1).to eq(:address1)
    expect(Customers::<%= class_name %>Mapper::ADDRESS2).to eq(:address2)
    expect(Customers::<%= class_name %>Mapper::CITY).to eq(:city)
    expect(Customers::<%= class_name %>Mapper::STATE).to eq(:state)
    expect(Customers::<%= class_name %>Mapper::ZIP).to eq(:zip)
    expect(Customers::<%= class_name %>Mapper::COUNTRY).to eq(:country)
    expect(Customers::<%= class_name %>Mapper::PHONE1).to eq(:phone1)
    expect(Customers::<%= class_name %>Mapper::PHONE1_LABEL).to eq(:phone1_label)
    expect(Customers::<%= class_name %>Mapper::PHONE2).to eq(:phone2)
    expect(Customers::<%= class_name %>Mapper::PHONE2_LABEL).to eq(:phone2_label)
    expect(Customers::<%= class_name %>Mapper::PHONE3).to eq(:phone3)
    expect(Customers::<%= class_name %>Mapper::PHONE3_LABEL).to eq(:phone3_label)
    expect(Customers::<%= class_name %>Mapper::EMAIL).to eq(:email)
    expect(Customers::<%= class_name %>Mapper::COMMERCIAL).to eq(:commercial)
    expect(Customers::<%= class_name %>Mapper::ACTIVE).to eq(:active)
    expect(Customers::<%= class_name %>Mapper::DO_NOT_CALL).to eq(:do_not_call)
    expect(Customers::<%= class_name %>Mapper::DO_NOT_EMAIL).to eq(:do_not_email)
    expect(Customers::<%= class_name %>Mapper::DO_NOT_MAIL).to eq(:do_not_mail)
  end

  # TODO: Update the individual getter methods as needed.
  it "should get the value for external_id" do
    expect(mapper.get_external_id(raw_contact)).to eq("ecd108bf-723f-11e3-b8c3-d9b28ac835cd")
  end

  it "should get the value for company_name" do
    expect(mapper.get_company_name(raw_contact)).to eq("A.R. Associates")
  end

  it "should get the value for first_name" do
    expect(mapper.get_first_name(raw_contact)).to eq("Allen")
  end

  it "should get the value for last_name" do
    expect(mapper.get_last_name(raw_contact)).to eq("Baker")
  end
  
  it "should get the value for address1" do
    expect(mapper.get_address1(raw_contact)).to eq("285 Bel Marin Keys Blvd., Suite E")
  end

  it "should get the value for address2" do
    expect(mapper.get_address2(raw_contact)).to eq("")
  end

  it "should get the value for city" do
    expect(mapper.get_city(raw_contact)).to eq("Novato")
  end

  it "should get the value for state" do
    expect(mapper.get_state(raw_contact)).to eq("CA")
  end

  it "should get the value for country" do
    expect(mapper.get_country(raw_contact)).to eq("USA")
  end

  it "should get the value for zip" do
    expect(mapper.get_zip(raw_contact)).to eq("94949")
  end

  it "should get the value for phone_number" do
    expect(mapper.get_phone_daytime(raw_contact)).to eq("415-777-7700")
  end

  it "should get the value for alt_phone_number" do
    expect(mapper.get_phone_alt(raw_contact)).to eq("415-666-7700")
  end

  it "should get the value for mobile phone number" do
    expect(mapper.get_phone_mobile(raw_contact)).to eq("415-555-4545")
  end 
  
  it "should get the value for email" do
    expect(mapper.get_email(raw_contact)).to eq("allen.baker@gmail.com")
  end 

  it "should get the value for commercial" do
    expect(mapper.get_commercial(raw_contact)).to eq(true)
  end 

  it "should get the value for active" do
    expect(mapper.get_active(raw_contact)).to eq(true)
  end 

  it "should get the value for wants_calls" do
    expect(mapper.get_wants_calls(raw_contact)).to eq(true)
  end 

  it "should get the value for wants_sms" do
    expect(mapper.get_wants_sms(raw_contact)).to eq(true)
  end 

  it "should get the value for wants_emails" do
    expect(mapper.get_wants_emails(raw_contact)).to eq(true)
  end 

  it "should get the value for wants_direct_mail" do
    expect(mapper.get_wants_direct_mail(raw_contact)).to eq(true)
  end 
end
