class Transactions::<%= class_name %>Mapper < Transactions::BaseMapper

  # TODO: Create Constants for each field name in the input. These field names should
  # TODO: match the field names in the input file.
  EXTERNAL_ID         = :external_id
  EXTERNAL_CONTACT_ID = :external_contact_id
  DUE_DATE            = :due_date
  RECEIPT_NUMBER      = :receipt_number
  GRAND_TOTAL         = :amount
  BALANCE_DUE         = :balance_due
  ORDER_TYPE          = :order_type
  TAX_TOTAL           = :tax_total
  TRANSACTED_AT       = :transacted_at

  # TODO: This is an array of fields that the input data will be mapped to. These field names should
  # TODO: match the field names in our database. The base mapper will expect to find a method for
  # TODO: each of the entries here. So, for the :first_name entry there should be a method named
  # TODO: get_first_name.
  def transaction_fields
    return [
      :external_id,
      :external_contact_id,
      :receipt_number,
      :due_date,
      :amount,
      :is_paid,
      :transacted_at,
      :uuid
    ]
  end
  
  # TODO: Adjust the methods below to match the list of entries in 'customer_fields'.
  # TODO: Modify the methods to extract the correct data from the input file.

  # Get the external id.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from id field.
  def get_external_id(data)
    return data[EXTERNAL_ID]
  end
  
  # Get the external contact id.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from customerid field.
  def get_external_contact_id(data)
    return data[EXTERNAL_CONTACT_ID]
  end
  

  # Get the receipt number.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the txnnumber field.
  def get_receipt_number(data)
    return data[RECEIPT_NUMBER]
  end
  
  # Get the transaction amount.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from grand total field.
  def get_amount(data)
    return data[GRAND_TOTAL]
  end

  # Get the is_paid value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the is_paid field.
  def get_is_paid(data)
    result = false
    result = (data[BALANCE_DUE] == 0.0) if data[ORDER_TYPE].present? && data[ORDER_TYPE] == 'Invoice'
    return result
  end

  # Get the transacted_at date
  # format this as a date instead of datetime because ServiceMonster doesnt send us the time.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the timecreated field.
  def get_transacted_at(data)
    if data[ORDER_TYPE].present? && data[ORDER_TYPE] == 'Invoice'
      return convert_datetime(data[TRANSACTED_AT], format: :date)
    end
    return nil
  end
  
  # Ge the due date.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from duedate
  def get_due_date(data)
    if data[ORDER_TYPE].present? && data[ORDER_TYPE] == 'Invoice'
      return convert_datetime(data[DUE_DATE], format: :date)
    end
    return nil
  end
  
  # Get the UUID for this transaction.
  # @param [Hash] data the incoming data to search.
  # @return [String] the generated uuid for the transaction.
  def get_uuid(data)
    data_to_be_hashed = "#{data[EXTERNAL_ID]}|#{data[EXTERNAL_CONTACT_ID]}|#{data[TRANSACTED_AT]}"
    return Digest::MD5.hexdigest(data_to_be_hashed)
  end

  # overrides convert_date_time in BaseMapper
  # @param [date] datetime
  # @param [hash] options[:format] :date or :datetime
  def convert_datetime(datetime, options)
    return nil if datetime.blank?
    case options[:format]
    when :datetime
      DateTime.strptime datetime, '%Y-%m-%d %H:%M:%S %p'
    when :date
      Date.strptime datetime, '%Y-%m-%d'
    end
  end

end
