desc "create <%= display_name %> Workflow System and Template"
task :create_<%= name %> => :environment do
  name = '<%= display_name %>'

  wfs = WorkflowSystem.where(name: name).last
  wfs = WorkflowSystem.new unless wfs

  wfs.name = name
  wfs.version = "unknown"
  wfs.status = "active"
  wfs.database_name = '<%= display_name %>'
  wfs.access_type = "<%= type %>";
  wfs.visible = true
  wfs.save
  wfs.reload

  wst = WorkflowSystemTemplate.where(workflow_system_id: wfs.id).last
  wst = WorkflowSystemTemplate.new unless wst

  wst.workflow_system_id = wfs.id
  wst.days = "0,1,2,3,4,5,6"
  wst.time = "12:30pm"
  wst.upload_type = "full"
  wst.importer_class_name = "<%= class_name %>Importer"
  wst.fetcher_class_name = "<%= class_name %>Fetcher"
  wst.mapper_class_name = "<%= class_name %>Mapper"

  # TODO: Fill in the Customer and Transaction queries with the SQL needed to get the 
  # TODO: respective data from the target system. For API systems that don't
  # TODO: require queries just put 'placeholder'.
  customers_query = <<-CQUERY
  CQUERY

  transactions_query = <<-IQUERY
  IQUERY

  # TODO: Remove the vehicles query if the target API does not have vehicle information.
  vehicles_query = <<-VQ
  VQ

  wst.queries = {
    customers: customers_query.to_a,
    transactions: transactions_query.to_a,
    vehicles: vehicles_query.to_a
  }

  wst.save
end
