class <%= class_name %>Mapper < BaseMapper

  def initialize(company)
    @customer_mapper = Customers::<%= class_name %>Mapper.new(company)
    @transaction_mapper = Transactions::<%= class_name %>Mapper.new(company)
    super(company)
  end  
      
end
