class Customers::<%= class_name %>Mapper < Customers::BaseMapper

  # TODO: Create Constants for each field name in the input. These field names should
  # TODO: match the field names in the input file.
  EXTERNAL_ID          = :external_id
  ACCOUNT_TYPE         = :account_type
  COMPANY_NAME         = :company_name
  FIRST_NAME           = :first_name
  LAST_NAME            = :last_name
  ADDRESS1             = :address1
  ADDRESS2             = :address2
  CITY                 = :city
  STATE                = :state
  ZIP                  = :zip
  COUNTRY              = :country
  PHONE1               = :phone1
  PHONE1_LABEL         = :phone1_label
  PHONE2               = :phone2
  PHONE2_LABEL         = :phone2_label
  PHONE3               = :phone3
  PHONE3_LABEL         = :phone3_label
  EMAIL                = :email
  COMMERCIAL           = :commercial
  ACTIVE               = :active
  DO_NOT_CALL          = :do_not_call
  DO_NOT_EMAIL         = :do_not_email
  DO_NOT_MAIL          = :do_not_mail

  # TODO: This is an array of fields that the input data will be mapped to. These field names should
  # TODO: match the field names in our database. The base mapper will expect to find a method for
  # TODO: each of the entries here. So, for the :first_name entry there should be a method named
  # TODO: get_first_name.
  def customer_fields
    return [
      :first_name,
      :last_name,
      :email,
      :phone_daytime,
      :phone_mobile,
      :phone_alt,
      :address1,
      :address2,
      :city,
      :state,
      :zip,
      :country,
      :company_name,
      :commercial,
      :status,
      :wants_emails,
      :wants_sms,
      :wants_calls,
      :wants_direct_mail,
      :external_id
    ]
  end

  # TODO: Adjust the methods below to match the list of entries in 'customer_fields'.
  # TODO: Modify the methods to extract the correct data from the input file.

  # Get the first name value. If the first name is blank send the last name.
  # @param [Hash] data the incoming data to search.
  # @return [String] the first name value from one of the name fields.
  def get_first_name(data)
    return data[FIRST_NAME] if data[FIRST_NAME].present?
    return data[LAST_NAME] if data[LAST_NAME].present?
  end

  # Get the last name value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the last name value from one of the name fields.
  def get_last_name(data)
    return data[LAST_NAME] if data[LAST_NAME].present?
  end

  # Get the email value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the email field.
  def get_email(data)
    return data[EMAIL]
  end

  # Get the phone_number value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the phone number field.
  def get_phone_daytime(data)
    return data[PHONE1]
  end

  # Get the mobile_phone_number value
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the mobile phone number field.
  def get_phone_mobile(data)
    return data[PHONE3]
  end
  
  # Get the alt_phone number value
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the mobile phone number field.
  def get_phone_alt(data)
    return data[PHONE2]
  end
  
  # Get the address1 value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the address1 field.
  def get_address1(data)
    return data[ADDRESS1]
  end

  # Get the address2 value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the address2 field.
  def get_address2(data)
    return data[ADDRESS2]
  end

  # Get the city value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the city field.
  def get_city(data)
    return data[CITY]
  end

  # Get the state value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the state field.
  def get_state(data)
    return data[STATE]
  end

  # Get the zipcode value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the zipcode field.
  def get_zip(data)
    return data[ZIP]
  end

  # Get the country value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the country field.
  def get_country(data)
    return data[COUNTRY]
  end

  # Get the company name value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the company name field.
  def get_company_name(data)
    return data[COMPANY_NAME]
  end

  # Get wether the record is commercial
  # @param [Hash] data the incoming data to search.
  # @return [Boolean] true or false
  def get_commercial(data)
    return data[COMMERCIAL]
  end

  # Get the customer status. Can be 'Customer' or 'Prospect'.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the account type field.
  def get_status(data)
    return data[ACCOUNT_TYPE]
  end

  # Get the wants emails flag.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the do_not_email field.
  def get_wants_emails(data)
    return !data[DO_NOT_EMAIL]
  end

  # Get the wants sms flag.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the do_not_call field.
  def get_wants_sms(data)
    return !data[DO_NOT_CALL]
  end

  # Get the wants calls flag.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the do_not_call field.
  def get_wants_calls(data)
    return !data[DO_NOT_CALL]
  end

  # Get the wants direct mail flag.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the do_not_mail field.
  def get_wants_direct_mail(data)
    return !data[DO_NOT_MAIL]
  end

  # Get the external_id value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the external_id field.
  def get_external_id(data)
    return data[EXTERNAL_ID]
  end

  # Get the active value.
  # @param [Hash] data the incoming data to search.
  # @return [String] the value from the actvie field.
  def get_active(data)
    return data[ACTIVE]
  end

end