require 'spec_helper'

RSpec.describe <%= class_name %> do
  after do
    <%= class_name %>.reset
  end

  describe ".client" do
    it "should be a <%= class_name %>::Client" do
      expect(<%= class_name %>.client).to be_a(<%= class_name %>::Client)
    end
  end

  describe '#api_key' do
    it 'should return the default api key' do
      expect(<%= class_name %>.api_key).to eq(<%= class_name %>::Configuration::DEFAULT_API_KEY)
    end
  end

  describe '#api_key=' do
    it 'should set the api key' do
      <%= class_name %>.api_key = 'test'
      expect(<%= class_name %>.api_key).to eq('test')
    end
  end

  describe '#api_version' do
    it 'should return the default api version' do
      expect(<%= class_name %>.api_version).to eq(<%= class_name %>::Configuration::DEFAULT_API_VERSION)
    end
  end

  describe '#api_version=' do
    it 'should set the api_version' do
      <%= class_name %>.api_version = '/test'
      expect(<%= class_name %>.api_version).to eq('/test')
    end
  end

  describe '#adapter' do
    it 'should return the default adapter' do
      expect(<%= class_name %>.adapter).to eq(<%= class_name %>::Configuration::DEFAULT_ADAPTER)
    end
  end

  describe '#adapter=' do
    it 'should set the adapter' do
      <%= class_name %>.adapter = :typhoeus
      expect(<%= class_name %>.adapter).to eq(:typhoeus)
    end
  end

  describe '#endpoint' do
    it 'should return the default endpoint' do
      expect(<%= class_name %>.endpoint).to eq(<%= class_name %>::Configuration::DEFAULT_ENDPOINT)
    end
  end

  describe '#endpoint=' do
    it 'should set the endpoint' do
      <%= class_name %>.endpoint = 'http://www.google.com'
      expect(<%= class_name %>.endpoint).to eq('http://www.google.com')
    end
  end

  describe '#configure' do
    <%= class_name %>::Configuration::VALID_OPTIONS_KEYS.each do |key|

      it "should set the #{key}" do
        <%= class_name %>.configure do |config|
          config.send("#{key}=", key)
          expect(<%= class_name %>.send(key)).to eq(key)
        end
      end
    end
  end
end
