require 'faraday'
require 'faraday_middleware'
require 'active_support/all'
require '<%= name %>/version'

Dir[File.expand_path('../../faraday/*.rb', __FILE__)].each{|f| require f}
require File.expand_path('../<%= name %>/configuration', __FILE__)
require File.expand_path('../<%= name %>/api', __FILE__)
require File.expand_path('../<%= name %>/client', __FILE__)
require File.expand_path('../<%= name %>/error', __FILE__)

module <%= class_name %>

  extend Configuration
  # Alias for <%= class_name %>::Client.new
  # @return [<%= class_name %>::Client]
  def self.client(options = {})
    <%= class_name %>::Client.new(options)
  end

  # Delegate to <%= class_name %>::Client
  def self.method_missing(method, *args, &block)
    return super unless client.respond_to?(method)
    client.send(method, *args, &block)
  end
end
